.bgdark {
    background-color: rgb(46, 46, 46);
}

.textwhite {
    color: white;
}

.textbold {
    font-weight: bold;
}

.customimage {
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 20px;
}

.custombuttons button, .custombuttons div {
    border-color: white;
    color: white;
}